0x01-variables_if_else_while/0-positive_or_negative
0x01-variables_if_else_while/2-print_alphabet
0x01-variables_if_else_while/3-print_alphabets
0x01-variables_if_else_while/4-print_alphabt
0x01-variables_if_else_while/5-print_number
0x01-variables_if_else_while/6-print_numberz
0x01-variables_if_else_while/7-print_tebahpla
0x01-variables_if_else_while/8-print_base16
.gitignore
.gitignore
0x01-variables_if_else_while/100-print_comb3
0x01-variables_if_else_while/9-print_comb
0x01-variables_if_else_while/101-print_comb4
0x01-variables_if_else_while/102-print_comb5
0x01-variables_if_else_while/a.out
0x05-pointers_arrays_strings/7-puts_half.c
0x05-pointers_arrays_strings/main.h
0x06-pointers_arrays_strings/0-strcat
0x06-pointers_arrays_strings/1-strncat
0x06-pointers_arrays_strings/2-strncpy
.gitignore
0x06-pointers_arrays_strings/3-strcmp
0x06-pointers_arrays_strings/4-rev_array
0x06-pointers_arrays_strings/5-string_toupper
0x06-pointers_arrays_strings/6-cap
0x06-pointers_arrays_strings/7-1337
0x06-pointers_arrays_strings/_putchar.c
0x07-pointers_arrays_strings/_putchar.c

0x08-recursion/_putchar.c
0x08-recursion/0-main.c
.gitignore
0x08-recursion/0-puts_recursion
0x08-recursion/2-strlen_recursion
0x08-recursion/1-print_rev_recursion
.gitignore
0x08-recursion/1-main.c
.gitignore
0x08-recursion/2-main.c
